Ryan Dunne C00263405

Medical Student Dataset - Link: https://www.kaggle.com/datasets/slmsshk/medical-students-dataset

20,000 entries in order of Student ID where it isn't missing.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df = pd.read_csv('medical_students_dataset.csv')

Every series of the dataset has some missing values

In [3]:
print(df)

        Student ID   Age  Gender      Height     Weight Blood Type        BMI  \
0              1.0  18.0  Female  161.777924  72.354947          O  27.645835
1              2.0   NaN    Male  152.069157  47.630941          B        NaN
2              3.0  32.0  Female  182.537664  55.741083          A  16.729017
3              NaN  30.0    Male  182.112867  63.332207          B  19.096042
4              5.0  23.0  Female         NaN  46.234173          O        NaN
...            ...   ...     ...         ...        ...        ...        ...
199995         NaN  24.0    Male  176.503260  95.756997          B  30.737254
199996     99997.0  29.0  Female  163.917675  45.225194        NaN  16.831734
199997     99998.0  34.0  Female         NaN  99.648914        NaN  33.189303
199998     99999.0  30.0  Female  156.446944  50.142824          A  20.486823
199999    100000.0  20.0  Female  153.927409  99.928405          O  42.175189

        Temperature  Heart Rate  Blood Pressure  Cholesterol Diabetes Smoking
0               NaN        95.0           109.0        203.0       No     NaN
1         98.714977        93.0           104.0        163.0       No      No
2         98.260293        76.0           130.0        216.0      Yes      No
3         98.839605        99.0           112.0        141.0       No     Yes
4         98.480008        95.0             NaN        231.0       No      No
...             ...         ...             ...          ...      ...     ...
199995    99.170685        65.0           121.0        130.0       No      No
199996    97.865785        62.0           125.0        198.0       No     Yes
199997    98.768210        60.0            90.0        154.0      NaN      No
199998    98.994212        61.0           106.0        225.0       No      No
199999    98.595817        95.0           133.0        132.0      NaN      No

[200000 rows x 13 columns]

To complete the Student ID series I:

1. Found all NaN values
2. Using the NaN mask, I found the previously NaN, now filled location index value & added 1

All missing ID's are now filled in and ordered

In [4]:
isNullMask = df['Student ID'].isna()

print(isNullMask)

replacement_values = df.index[isNullMask] + 1
df.loc[isNullMask, 'Student ID'] = replacement_values

0         False
1         False
2         False
3          True
4         False
          ...
199995     True
199996    False
199997    False
199998    False
199999    False
Name: Student ID, Length: 200000, dtype: bool

In [5]:
isNullMask = df['Student ID'].isna()
print(isNullMask) #Print new isNullMask for Student ID

0         False
1         False
2         False
3         False
4         False
          ...
199995    False
199996    False
199997    False
199998    False
199999    False
Name: Student ID, Length: 200000, dtype: bool

In [6]:
#Fill in gender so other values can be found


df.loc[df['Gender'].isna(), 'Gender'] = "Male" #Come back to this

In [7]:
isMale = df['Gender'] == 'Male'
isFemale = df['Gender'] == 'Female'

meanAgeMale = df.loc[isMale, 'Age'].mean().round()
meanAgeFemale = df.loc[isFemale, 'Age'].mean().round()

print("Average Male Age: ",meanAgeMale)
print("Average Female Age: ",meanAgeFemale)


df.loc[isMale & df['Age'].isna(), 'Age'] = meanAgeMale
df.loc[isFemale & df['Age'].isna(), 'Age'] = meanAgeFemale

Average Male Age:  26.0
Average Female Age:  26.0

In [8]:
isMale = df['Gender'] == 'Male'
isFemale = df['Gender'] == 'Female'

meanHeightMale = df.loc[isMale, 'Height'].mean()
meanHeightFemale = df.loc[isFemale, 'Height'].mean()

print("Average Male Height: ",meanHeightMale)
print("Average Female Height: ",meanHeightFemale)

df.loc[isMale & df['Height'].isna(), 'Height'] = meanHeightMale
df.loc[isFemale & df['Height'].isna(), 'Height'] = meanHeightFemale

Average Male Height:  174.9652119362308
Average Female Height:  174.92497209986672

In [9]:
isMale = df['Gender'] == 'Male'
isFemale = df['Gender'] == 'Female'

meanWeightMale = df.loc[isMale, 'Weight'].mean()
meanWeightFemale = df.loc[isFemale, 'Weight'].mean()

print("Average Male Weight: ",meanWeightMale)
print("Average Female Weight: ",meanWeightFemale)

df.loc[isMale & df['Weight'].isna(), 'Weight'] = meanWeightMale
df.loc[isFemale & df['Weight'].isna(), 'Weight'] = meanWeightFemale

Average Male Weight:  69.96911560626064
Average Female Weight:  69.97459935768775

In [10]:
commonBloodType = df['Blood Type'].mode()
print("Most Common Blood Type: ",commonBloodType[0])

df.loc[df['Blood Type'].isna(), 'Blood Type'] = commonBloodType[0]

Most Common Blood Type:  B

In [11]:
isMale = df['Gender'] == 'Male'
isFemale = df['Gender'] == 'Female'

meanBMIMale = df.loc[isMale, 'BMI'].mean()
meanBMIFemale = df.loc[isFemale, 'BMI'].mean()

print("Average Male BMI: ",meanWeightMale)
print("Average Female BMI: ",meanWeightFemale)

df.loc[isMale & df['BMI'].isna(), 'BMI'] = meanWeightMale
df.loc[isFemale & df['BMI'].isna(), 'BMI'] = meanWeightFemale

Average Male BMI:  69.96911560626064
Average Female BMI:  69.97459935768775

In [12]:
isMale = df['Gender'] == 'Male'
isFemale = df['Gender'] == 'Female'

meanTemperatureMale = df.loc[isMale, 'Temperature'].mean()
meanTemperatureFemale = df.loc[isFemale, 'Temperature'].mean()

print("Average Male Temperature: ",meanTemperatureMale)
print("Average Female Temperature: ",meanTemperatureFemale)

df.loc[isMale & df['Temperature'].isna(), 'Temperature'] = meanTemperatureMale
df.loc[isFemale & df['Temperature'].isna(), 'Temperature'] = meanTemperatureFemale

Average Male Temperature:  98.60078778712466
Average Female Temperature:  98.60114373154398

In [13]:
averageHeartRate = np.ceil(df['Heart Rate'].mean().round(1))

print("Average Heart Rate: ",averageHeartRate)


df.loc[df['Heart Rate'].isna(), 'Heart Rate'] = averageHeartRate

Average Heart Rate:  80.0

In [14]:
averageBloodPressure = np.ceil(df['Blood Pressure'].mean())

print("Average Blood Pressure: ",averageBloodPressure)


df.loc[df['Blood Pressure'].isna(), 'Blood Pressure'] = averageBloodPressure

Average Blood Pressure:  115.0

In [15]:
averageCholesterol = np.ceil(df['Cholesterol'].mean())

print("Average Cholesterol: ",averageCholesterol)


df.loc[df['Cholesterol'].isna(), 'Cholesterol'] = averageCholesterol

Average Cholesterol:  185.0

In [16]:
isDiabetic = df['Diabetes'].mode()

print("Diabetic Mode: ",isDiabetic[0])


df.loc[df['Diabetes'].isna(), 'Diabetes'] = isDiabetic[0]

Diabetic Mode:  No

In [17]:
isSmoker = df['Smoking'].mode()

print("Smoking Mode: ",isSmoker[0])


df.loc[df['Smoking'].isna(), 'Smoking'] = isSmoker[0]

Smoking Mode:  No

In [18]:
pd.set_option('display.max_rows', 100)
print(df.head(100))
df.to_csv("completed_medical_students_dataset.csv")

    Student ID   Age  Gender      Height     Weight Blood Type        BMI  \
0          1.0  18.0  Female  161.777924  72.354947          O  27.645835
1          2.0  26.0    Male  152.069157  47.630941          B  69.969116
2          3.0  32.0  Female  182.537664  55.741083          A  16.729017
3          4.0  30.0    Male  182.112867  63.332207          B  19.096042
4          5.0  23.0  Female  174.924972  46.234173          O  69.974599
5          6.0  32.0    Male  151.491294  68.647805          B  29.912403
6          7.0  21.0    Male  172.949704  48.102744         AB  16.081635
7          8.0  28.0    Male  186.489402  52.389752         AB  15.063921
8          9.0  21.0    Male  155.039678  42.958703          B  69.969116
9         10.0  32.0    Male  170.836315  50.783250          B  17.400435
10        11.0  28.0  Female  152.973928  73.572814          B  31.440000
11        12.0  34.0  Female  182.416302  76.371050         AB  22.950992
12        13.0  29.0    Male  168.845992  48.533565         AB  69.969116
13        14.0  34.0    Male  174.965212  60.882228          B  22.544095
14        15.0  33.0    Male  184.718988  93.666944          B  27.451322
15        16.0  21.0    Male  162.819718  96.385698          B  69.969116
16        17.0  24.0    Male  162.727013  86.228727          B  32.563619
17        18.0  27.0    Male  176.694741  56.243559          O  18.014638
18        19.0  31.0  Female  158.790160  46.829849         AB  18.572723
19        20.0  31.0    Male  166.489929  49.955569          B  18.022207
20        21.0  30.0    Male  180.913766  72.193659          O  69.969116
21        22.0  22.0  Female  189.082136  83.536602         AB  23.365539
22        23.0  29.0  Female  179.909041  90.679436         AB  28.015787
23        24.0  18.0    Male  174.965212  52.521560         AB  13.570402
24        25.0  27.0  Female  187.411623  81.219470         AB  23.124221
25        26.0  28.0  Female  183.519003  61.080100          B  18.135839
26        27.0  29.0    Male  173.018801  44.032057          O  14.708974
27        28.0  24.0    Male  187.777839  40.485525         AB  11.481830
28        29.0  26.0    Male  174.965212  82.826786          B  32.276465
29        30.0  34.0    Male  192.499119  86.907744         AB  23.453139
30        31.0  30.0    Male  189.771793  75.281510          B  69.969116
31        32.0  28.0    Male  174.965212  70.262876          O  19.710340
32        33.0  25.0    Male  159.588589  89.212816          B  35.028664
33        34.0  33.0    Male  177.165911  68.129149          O  21.705642
34        35.0  33.0    Male  160.463706  55.755226          A  21.653691
35        36.0  21.0    Male  183.476287  61.469995          O  18.260106
36        37.0  22.0  Female  197.652810  53.862413          B  13.787319
37        38.0  26.0    Male  175.886888  80.493890          O  69.969116
38        39.0  18.0    Male  190.812760  49.472847          B  13.587892
39        40.0  24.0    Male  158.110951  53.034904          B  21.214748
40        41.0  20.0  Female  197.323675  65.357140          O  16.785514
41        42.0  18.0    Male  161.083549  66.571492         AB  25.655821
42        43.0  27.0  Female  156.960231  52.140209         AB  69.974599
43        44.0  26.0  Female  178.480891  97.543861          B  30.620797
44        45.0  19.0    Male  165.040421  58.814456          B  21.592526
45        46.0  34.0    Male  181.010836  72.088753         AB  22.001808
46        47.0  24.0  Female  156.025258  96.545936         AB  39.659221
47        48.0  21.0    Male  171.666199  89.469243          O  30.360169
48        49.0  18.0    Male  174.084285  53.576851          O  17.679015
49        50.0  26.0  Female  153.791479  69.974599          A  33.675388
50        51.0  33.0    Male  164.925899  93.611623          B  34.415339
51        52.0  23.0    Male  174.338438  45.421333         AB  14.944231
52        53.0  21.0  Female  188.713963  44.330345          B  12.447813
53        54.0  26.0  Female  159.863791  83.895777          O  32.827657
54        55.0  34.0    Male  174.207898  69.969116          B  22.292974
55        56.0  20.0  Female  164.746140  94.441970          O  34.796418
56        57.0  31.0  Female  174.924972  56.629195         AB  14.858819
57        58.0  25.0    Male  170.307975  69.969116          A  69.969116
58        59.0  26.0  Female  192.636128  44.635451         AB  12.028305
59        60.0  30.0    Male  182.241692  48.609045          A  69.969116
60        61.0  26.0  Female  178.348371  89.511078          B  28.140933
61        62.0  25.0    Male  181.257592  67.363255          B  20.503625
62        63.0  32.0    Male  174.965212  73.636876          B  25.739882
63        64.0  24.0  Female  165.794335  69.974599          B  24.064233
64        65.0  19.0    Male  177.745644  70.409184          B  22.285962
65        66.0  31.0  Female  152.297203  80.753329          B  34.815816
66        67.0  20.0    Male  162.939772  50.074301          A  18.860825
67        68.0  27.0  Female  168.633237  95.439229          B  33.561439
68        69.0  30.0    Male  196.729148  92.805483          A  23.979284
69        70.0  34.0  Female  174.924972  92.334595          A  25.530733
70        71.0  19.0    Male  194.272951  72.621385          A  69.969116
71        72.0  26.0  Female  196.625050  69.974599          A  14.076270
72        73.0  34.0    Male  176.856628  69.969116          O  25.424462
73        74.0  19.0    Male  192.189841  69.969116          A  26.573209
74        75.0  26.0    Male  176.142641  77.421803          A  24.953661
75        76.0  29.0  Female  170.389723  51.819842          B  17.848811
76        77.0  26.0  Female  153.428695  64.777698         AB  27.517712
77        78.0  23.0  Female  158.745044  64.361355          B  25.540231
78        79.0  27.0  Female  187.852506  82.352369          B  23.336843
79        80.0  26.0    Male  197.667102  42.956022          O  10.993988
80        81.0  31.0  Female  170.264739  69.974599         AB  24.487039
81        82.0  31.0    Male  167.440795  55.538403         AB  19.809378
82        83.0  24.0  Female  162.044348  80.638530         AB  30.709647
83        84.0  21.0    Male  171.146689  69.056734         AB  23.575941
84        85.0  23.0    Male  196.305318  80.829760          O  20.975251
85        86.0  25.0  Female  153.910952  48.373892          A  20.420764
86        87.0  34.0  Female  150.942632  90.580214          O  39.756624
87        88.0  31.0    Male  191.062848  65.788436          A  69.969116
88        89.0  28.0    Male  176.482911  90.509482          B  29.059542
89        90.0  24.0    Male  174.965212  83.701959          B  22.442928
90        91.0  27.0  Female  182.847240  55.674880          B  16.652616
91        92.0  21.0  Female  174.924972  58.040572          O  17.007453
92        93.0  32.0  Female  186.892361  53.676750         AB  15.367496
93        94.0  34.0  Female  198.276397  40.175475          O  10.219249
94        95.0  29.0  Female  178.565821  89.362484          B  28.025835
95        96.0  30.0    Male  171.061421  46.596203          A  15.923788
96        97.0  28.0    Male  196.548103  78.536462          O  20.329824
97        98.0  29.0  Female  174.924972  82.662374         AB  22.488152
98        99.0  31.0  Female  185.047197  76.560393          B  22.358318
99       100.0  25.0  Female  198.588814  51.368067          B  69.974599

    Temperature  Heart Rate  Blood Pressure  Cholesterol Diabetes Smoking
0     98.601144        95.0           109.0        203.0       No      No
1     98.714977        93.0           104.0        163.0       No      No
2     98.260293        76.0           130.0        216.0      Yes      No
3     98.839605        99.0           112.0        141.0       No     Yes
4     98.480008        95.0           115.0        231.0       No      No
5     99.668373        70.0           128.0        183.0       No     Yes
6     97.715469        66.0           134.0        247.0       No      No
7     98.227788        85.0           123.0        128.0       No      No
8     98.808053        80.0           111.0        243.0       No      No
9     98.570168        61.0            94.0        166.0       No      No
10    98.371843        60.0           115.0        241.0       No     Yes
11    98.118274        86.0            97.0        247.0       No      No
12    98.515927        62.0           115.0        246.0       No     Yes
13    98.963569        89.0           130.0        243.0      Yes      No
14    98.418213        68.0           133.0        180.0      Yes     Yes
15    98.108563        68.0           126.0        130.0       No      No
16    98.057822        63.0           135.0        197.0       No      No
17    98.600788        78.0           115.0        161.0       No      No
18    98.784709        92.0           102.0        172.0       No      No
19    98.809750        82.0            96.0        223.0       No      No
20    98.910825        95.0           101.0        176.0       No      No
21    99.385818        64.0           124.0        185.0       No     Yes
22    98.782269        81.0           108.0        227.0       No     Yes
23    98.215090        60.0           132.0        217.0       No      No
24    97.738939        99.0           135.0        123.0       No      No
25    98.623771        96.0           101.0        147.0       No      No
26    98.855958        98.0           115.0        219.0       No      No
27    98.883412        61.0            95.0        242.0       No     Yes
28    98.600788        60.0            93.0        185.0       No      No
29    99.469634        68.0           124.0        165.0       No      No
30    97.969007        80.0           132.0        186.0       No      No
31    99.086801        70.0           125.0        215.0       No      No
32    98.272850        63.0           122.0        214.0       No     Yes
33    98.201649        80.0           116.0        143.0      Yes     Yes
34    99.161461        77.0           115.0        152.0      Yes     Yes
35    99.346920        62.0           127.0        233.0       No      No
36    99.007446        67.0           115.0        197.0       No      No
37    99.304964        74.0           103.0        177.0       No      No
38    98.600788        75.0           128.0        236.0       No      No
39    98.448841        78.0           115.0        157.0       No      No
40    98.440945        80.0           115.0        185.0       No      No
41    98.447710        92.0           104.0        247.0       No      No
42    99.845762        73.0           129.0        127.0       No      No
43    98.662877        84.0           132.0        135.0       No      No
44    98.788485        65.0           115.0        142.0       No      No
45    98.137515        86.0            99.0        170.0       No     Yes
46    98.367511        75.0           105.0        146.0       No     Yes
47    98.730279        97.0           134.0        232.0       No      No
48    99.131820        80.0           121.0        199.0       No      No
49    97.925839        80.0           104.0        185.0       No      No
50    98.334287        63.0           119.0        137.0       No      No
51    98.672024        89.0           101.0        236.0       No      No
52    99.265397        80.0           136.0        180.0       No     Yes
53    98.284730        67.0           136.0        127.0       No      No
54    98.919826        74.0           129.0        139.0      Yes     Yes
55    99.289035        84.0            93.0        240.0       No      No
56    98.601144        76.0           109.0        174.0       No      No
57    97.527301        65.0           122.0        149.0       No      No
58    98.601144        90.0            96.0        146.0       No      No
59    98.272221        99.0           113.0        183.0       No      No
60    99.081239        84.0           132.0        237.0       No      No
61    98.600788        87.0            93.0        192.0       No      No
62    98.044285        70.0            92.0        157.0       No      No
63    98.601144        90.0           110.0        240.0       No      No
64    98.237968        88.0           115.0        151.0       No      No
65    98.228128        62.0            92.0        150.0       No     Yes
66    98.407083        73.0           112.0        215.0       No      No
67    98.601144        80.0           114.0        185.0       No      No
68    99.073034        96.0           133.0        201.0       No      No
69    98.601144        69.0           102.0        152.0       No     Yes
70    99.215526        73.0           119.0        159.0       No     Yes
71    98.748816        63.0           106.0        185.0       No      No
72    98.492084        94.0           115.0        165.0       No      No
73    99.132709        61.0           102.0        185.0       No     Yes
74    98.084451        63.0           106.0        240.0       No      No
75    98.517067        85.0           118.0        228.0       No      No
76    98.363932        62.0           119.0        172.0       No      No
77    99.056752        71.0           120.0        228.0       No      No
78    98.300921        78.0            99.0        206.0       No      No
79    98.600788        81.0           107.0        143.0       No      No
80    98.283712        76.0           122.0        152.0       No      No
81    98.323473        80.0           110.0        181.0       No     Yes
82    98.996462        98.0           137.0        205.0      Yes     Yes
83    98.316070        80.0            93.0        134.0      Yes      No
84    97.920490        85.0           115.0        227.0       No     Yes
85    99.713399        99.0            97.0        212.0       No      No
86    97.563234        79.0           135.0        198.0      Yes      No
87    97.446445        65.0           110.0        149.0       No      No
88    98.641427        77.0           121.0        133.0       No      No
89    98.715900        75.0           115.0        228.0       No      No
90    98.865148        76.0           115.0        233.0       No      No
91    98.601144        90.0           104.0        166.0       No      No
92    98.387604        87.0           106.0        190.0       No      No
93    98.655588        73.0           115.0        156.0       No      No
94    98.310788        88.0            94.0        164.0       No      No
95    99.533103        69.0           118.0        123.0       No      No
96    98.600788        62.0           127.0        217.0       No      No
97    98.601144        76.0           117.0        159.0       No      No
98    98.617129        68.0           116.0        185.0       No      No
99    98.540647        94.0           109.0        185.0       No      No