In [2]:
import pandas as pd

In [5]:
df = pd.read_csv('mly375.csv')

In [10]:
print(df)
df.info()

                  Station Name: OAK PARK         Unnamed: 1 Unnamed: 2  \
0                  Station Height: 62 M                 NaN        NaN
1                      Latitude:52.861    Longitude: -6.915        NaN
2                         year:  -  Year                NaN        NaN
3                        month: -  Month                NaN        NaN
4    rain:  -  Precipitation Amount (mm)                NaN        NaN
..                                   ...                ...        ...
269                                 2025                  5       12.8
270                                 2025                  6       15.3
271                                 2025                  7       17.3
272                                 2025                  8       16.9
273                                 2025                  9       12.9

    Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8  \
0          NaN        NaN        NaN        NaN        NaN        NaN
1          NaN        NaN        NaN        NaN        NaN        NaN
2          NaN        NaN        NaN        NaN        NaN        NaN
3          NaN        NaN        NaN        NaN        NaN        NaN
4          NaN        NaN        NaN        NaN        NaN        NaN
..         ...        ...        ...        ...        ...        ...
269       22.6        0.1       18.8        6.7       31.7       -4.3
270         26        5.1       19.8       10.9       62.7          1
271       30.2        8.1       21.6       12.9       59.8          3
272         28        8.1       21.6       12.3       37.5        3.6
273       20.9        0.9       17.3        8.5       87.5       -2.6

    Unnamed: 9 Unnamed: 10 Unnamed: 11
0          NaN         NaN         NaN
1          NaN         NaN         NaN
2          NaN         NaN         NaN
3          NaN         NaN         NaN
4          NaN         NaN         NaN
..         ...         ...         ...
269        5.9          36
270        7.7          36
271        6.4          38
272          7          37
273        7.3          40

[274 rows x 12 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 274 entries, 0 to 273
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Station Name: OAK PARK  273 non-null    object
 1   Unnamed: 1              259 non-null    object
 2   Unnamed: 2              258 non-null    object
 3   Unnamed: 3              258 non-null    object
 4   Unnamed: 4              258 non-null    object
 5   Unnamed: 5              258 non-null    object
 6   Unnamed: 6              258 non-null    object
 7   Unnamed: 7              258 non-null    object
 8   Unnamed: 8              258 non-null    object
 9   Unnamed: 9              258 non-null    object
 10  Unnamed: 10             258 non-null    object
 11  Unnamed: 11             258 non-null    object
dtypes: object(12)
memory usage: 25.8+ KB