Ryan Dunne C00263405

Medical Student Dataset - Link: https://www.kaggle.com/datasets/slmsshk/medical-students-dataset

20,000 entries in order of Student ID where it isn't missing.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df = pd.read_csv('medical_students_dataset.csv')

Every series of the dataset has some missing values

In [3]:
print(df)

        Student ID   Age  Gender      Height     Weight Blood Type        BMI  \
0              1.0  18.0  Female  161.777924  72.354947          O  27.645835
1              2.0   NaN    Male  152.069157  47.630941          B        NaN
2              3.0  32.0  Female  182.537664  55.741083          A  16.729017
3              NaN  30.0    Male  182.112867  63.332207          B  19.096042
4              5.0  23.0  Female         NaN  46.234173          O        NaN
...            ...   ...     ...         ...        ...        ...        ...
199995         NaN  24.0    Male  176.503260  95.756997          B  30.737254
199996     99997.0  29.0  Female  163.917675  45.225194        NaN  16.831734
199997     99998.0  34.0  Female         NaN  99.648914        NaN  33.189303
199998     99999.0  30.0  Female  156.446944  50.142824          A  20.486823
199999    100000.0  20.0  Female  153.927409  99.928405          O  42.175189

        Temperature  Heart Rate  Blood Pressure  Cholesterol Diabetes Smoking
0               NaN        95.0           109.0        203.0       No     NaN
1         98.714977        93.0           104.0        163.0       No      No
2         98.260293        76.0           130.0        216.0      Yes      No
3         98.839605        99.0           112.0        141.0       No     Yes
4         98.480008        95.0             NaN        231.0       No      No
...             ...         ...             ...          ...      ...     ...
199995    99.170685        65.0           121.0        130.0       No      No
199996    97.865785        62.0           125.0        198.0       No     Yes
199997    98.768210        60.0            90.0        154.0      NaN      No
199998    98.994212        61.0           106.0        225.0       No      No
199999    98.595817        95.0           133.0        132.0      NaN      No

[200000 rows x 13 columns]

To complete the Student ID series I:

1. Found all NaN values
2. Using the NaN mask, I found the previously NaN, now filled location index value & added 1

All missing ID's are now filled in and ordered

In [4]:
isNullMask = df['Student ID'].isna()

print(isNullMask)

replacement_values = df.index[isNullMask] + 1
df.loc[isNullMask, 'Student ID'] = replacement_values

0         False
1         False
2         False
3          True
4         False
          ...
199995     True
199996    False
199997    False
199998    False
199999    False
Name: Student ID, Length: 200000, dtype: bool

In [5]:
isNullMask = df['Student ID'].isna()
print(isNullMask) #Print new isNullMask for Student ID

0         False
1         False
2         False
3         False
4         False
          ...
199995    False
199996    False
199997    False
199998    False
199999    False
Name: Student ID, Length: 200000, dtype: bool

In [6]:
isMale = df['Gender'] == 'Male'
isFemale = df['Gender'] == 'Female'

meanAgeMale = df.loc[isMale, 'Age'].mean().round()
meanAgeFemale = df.loc[isFemale, 'Age'].mean().round()

print("Average Male Age: ",meanAgeMale)
print("Average Female Age: ",meanAgeFemale)


df.loc[isMale & df['Age'].isna(), 'Age'] = meanAgeMale
df.loc[isFemale & df['Age'].isna(), 'Age'] = meanAgeFemale

Average Male Age:  26.0
Average Female Age:  26.0

In [19]:
isMale = df['Gender'] == 'Male'
isFemale = df['Gender'] == 'Female'

meanHeightMale = df.loc[isMale, 'Height'].mean()
meanHeightFemale = df.loc[isFemale, 'Height'].mean()

print("Average Male Height: ",meanHeightMale)
print("Average Female Height: ",meanHeightFemale)

df.loc[isMale & df['Height'].isna(), 'Height'] = meanHeightMale
df.loc[isFemale & df['Height'].isna(), 'Height'] = meanHeightFemale

Average Male Height:  174.9674050662668
Average Female Height:  174.9249720998667

AttributeError: 'numpy.float64' object has no attribute 'loc'

In [8]:
isMale = df['Gender'] == 'Male'
isFemale = df['Gender'] == 'Female'

meanWeightMale = df.loc[isMale, 'Weight'].mean()
meanWeightFemale = df.loc[isFemale, 'Weight'].mean()

print("Average Male Weight: ",meanWeightMale)
print("Average Female Weight: ",meanWeightFemale)

df.loc[isMale & df['Weight'].isna(), 'Weight'] = meanWeightMale
df.loc[isFemale & df['Weight'].isna(), 'Weight'] = meanWeightFemale

Average Male Weight:  69.95945319314323
Average Female Weight:  69.97459935768775

In [9]:
commonBloodType = df['Blood Type'].mode()
print("Most Common Blood Type: ",commonBloodType[0])

df.loc[df['Blood Type'].isna(), 'Blood Type'] = commonBloodType[0]

Most Common Blood Type:  B

In [10]:
isMale = df['Gender'] == 'Male'
isFemale = df['Gender'] == 'Female'

meanBMIMale = df.loc[isMale, 'BMI'].mean()
meanBMIFemale = df.loc[isFemale, 'BMI'].mean()

print("Average Male BMI: ",meanWeightMale)
print("Average Female BMI: ",meanWeightFemale)

df.loc[isMale & df['BMI'].isna(), 'BMI'] = meanWeightMale
df.loc[isFemale & df['BMI'].isna(), 'BMI'] = meanWeightFemale

Average Male BMI:  69.95945319314323
Average Female BMI:  69.97459935768775

In [11]:
isMale = df['Gender'] == 'Male'
isFemale = df['Gender'] == 'Female'

meanTemperatureMale = df.loc[isMale, 'Temperature'].mean()
meanTemperatureFemale = df.loc[isFemale, 'Temperature'].mean()

print("Average Male Temperature: ",meanTemperatureMale)
print("Average Female Temperature: ",meanTemperatureFemale)

df.loc[isMale & df['Temperature'].isna(), 'Temperature'] = meanTemperatureMale
df.loc[isFemale & df['Temperature'].isna(), 'Temperature'] = meanTemperatureFemale

Average Male Temperature:  98.600212395514
Average Female Temperature:  98.60114373154398

In [12]:
averageHeartRate = np.ceil(df['Heart Rate'].mean().round(1))

print("Average Heart Rate: ",averageHeartRate)


df.loc[df['Heart Rate'].isna(), 'Heart Rate'] = averageHeartRate

Average Heart Rate:  80.0

In [13]:
averageBloodPressure = np.ceil(df['Blood Pressure'].mean())

print("Average Blood Pressure: ",averageBloodPressure)


df.loc[df['Blood Pressure'].isna(), 'Blood Pressure'] = averageBloodPressure

Average Blood Pressure:  115.0

In [14]:
averageCholesterol = np.ceil(df['Cholesterol'].mean())

print("Average Cholesterol: ",averageCholesterol)


df.loc[df['Cholesterol'].isna(), 'Cholesterol'] = averageCholesterol

Average Cholesterol:  185.0

In [15]:
isDiabetic = df['Diabetes'].mode()

print("Diabetic Mode: ",isDiabetic[0])


df.loc[df['Diabetes'].isna(), 'Diabetes'] = isDiabetic[0]

Diabetic Mode:  No

In [16]:
isSmoker = df['Smoking'].mode()

print("Smoking Mode: ",isSmoker[0])


df.loc[df['Smoking'].isna(), 'Smoking'] = isSmoker[0]

Smoking Mode:  No

In [17]:
print(df)

        Student ID   Age  Gender      Height     Weight Blood Type        BMI  \
0              1.0  18.0  Female  161.777924  72.354947          O  27.645835
1              2.0  26.0    Male  152.069157  47.630941          B  69.959453
2              3.0  32.0  Female  182.537664  55.741083          A  16.729017
3              4.0  30.0    Male  182.112867  63.332207          B  19.096042
4              5.0  23.0  Female  174.924972  46.234173          O  69.974599
...            ...   ...     ...         ...        ...        ...        ...
199995    199996.0  24.0    Male  176.503260  95.756997          B  30.737254
199996     99997.0  29.0  Female  163.917675  45.225194          B  16.831734
199997     99998.0  34.0  Female  174.924972  99.648914          B  33.189303
199998     99999.0  30.0  Female  156.446944  50.142824          A  20.486823
199999    100000.0  20.0  Female  153.927409  99.928405          O  42.175189

        Temperature  Heart Rate  Blood Pressure  Cholesterol Diabetes Smoking
0         98.601144        95.0           109.0        203.0       No      No
1         98.714977        93.0           104.0        163.0       No      No
2         98.260293        76.0           130.0        216.0      Yes      No
3         98.839605        99.0           112.0        141.0       No     Yes
4         98.480008        95.0           115.0        231.0       No      No
...             ...         ...             ...          ...      ...     ...
199995    99.170685        65.0           121.0        130.0       No      No
199996    97.865785        62.0           125.0        198.0       No     Yes
199997    98.768210        60.0            90.0        154.0       No      No
199998    98.994212        61.0           106.0        225.0       No      No
199999    98.595817        95.0           133.0        132.0       No      No

[200000 rows x 13 columns]

In [18]:
df.to_csv("completed_medical_students_dataset.csv")